<table ng-repeat="month in getMonths">
    <thead>
        <th colspan=7>
            <h1>{{ month }}</h1>
        </th>
    </thead>

    <tbody>
        <tr class="calendar--day">
            <td ng-repeat="weekday in weekdays">
                {{ weekday }}
            </td>
        </tr>
           
        <tr class="calendar--week">
            <td ng-repeat="day in firstWeekOfMonth(month) track by $index">
                <div class="calendar--date" ng-class="{'trip-date': tripDates(month,day)}">{{ day }}</div>
            </td>
        </tr>
      
        <tr class="calendar--week" ng-repeat="week in [0,1,2,3]">
            <td ng-repeat="day in remainingWeeks(month) track by $index" ng-if="notMaxDays(month, day,week)">
                <div class="calendar--date" ng-class="{'trip-date': tripDates(month, days.getDay(day,week))}">
                    {{ days.getDay(day,week) }}
                </div>
            </td>
        </tr>
    </tbody>
</table>

