<div class="calendar--short" ng-init="buildTrip()">
    <div class="calendar--slider" slick-slider="{infinite: false,slidesToShow: 3,centerMode: true,focusOnSelect: true,centerPadding: '60px', asNavFor: '.todays--events'}">
        <div class="calendar--day" ng-repeat="day in trip track by $index" > 
            <span class="month">{{day.getMonth()}}</span>
            <span class="date"> {{ day.getDate() }}</span>
            <span class="day">{{ getWkday(day) }}</span>
        </div>
    </div>

    <div class="todays--events" slick-slider="{slidesToShow: 1, fade:true, arrows: false, asNavFor: '.calendar--slider'}">
  
    	<div class="slider--events" ng-repeat="day in trip track by $index">
	    	<div ng-repeat="idea in ideas.food" ng-if="matchDate(day, idea)">
	    		<h2>{{idea.title}}</h2>
	    		<p>Where:{{idea.location}}</p>
	    		<p>{{idea.start_time}}</p>
			</div>
	    	<div ng-repeat="idea in ideas.event" ng-if="matchDate(day, idea)">
	    		<h2>{{idea.title}}</h2>
	    		<p>Where:{{idea.location}}</p>
	    		<p>{{idea.start_time}}</p>
	    	</div>
	    	<div ng-repeat="idea in ideas.activity" ng-if="matchDate(day, idea)">
	    		<h2>{{idea.title}}</h2>
	    		<p>Where:{{idea.location}}</p>
	    		<p>{{idea.start_time}}</p>
	    	</div>
	    </div>
	    
	</div>

</div>

