<div class="calendar--short" ng-init="buildTrip()">
    <div class="calendar--slider" slick-slider="{infinite: false,slidesToShow: 3,centerMode: true,focusOnSelect: true,centerPadding: '60px'}">
        <div class="calendar--day" ng-repeat="day in trip track by $index" > 
            <span class="month">{{day.getMonth()}}</span>
            <span class="date"> {{ day.getDate() }}</span>
            <span class="day">{{ getWkday(day) }}</span>
        </div>
    </div>
    <div class="todays--events"></div>
</div>
