<div class="calendar--slider" ng-init="buildTrip()">
    <div class="calendar--day" ng-repeat="day in trip track by $index"> 
        <div>{{ getWkday(day) }}</div>
        <div> {{ day.getDate() }}</div>
    </div>
    <div class="todays--events"></div>
</div>
