<table ng-init="starters()" ng-repeat="month in getMonths">
    <thead>
        <th colspan=7>
            <h3>{{ m1 }}</h3>
        </th>
    </thead>

    <tbody>
        <tr class="calendar--day">
            <td ng-repeat="weekday in weekdays">
                {{ weekday }}
            </td>
        </tr>
        <tr class="calendar--week" ng-repeat="wk in num_wks"> 
            <td ng-repeat="day in week track by $index">
                {{ currDay.getDay(day,wk) }} 
            </td>
        </tr>
    </tbody>
</table>

