<h1>Trips</h1>

<% @trips.each do |trip| %>
    Created by: <%= trip.users.first.name %> 
    <%= link_to "#{trip.name}", trip_url_path(url: trip.url) %> 
    <%= link_to 'edit', edit_trip_path(trip) %> 
    <%= link_to 'delete', trip, method: :delete, data: {confirm: 'You sure?' } %><br>
<% end %>
