<header> 
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a>Account</a></li>
    </ul>
</nav>

</header>

<h1 class="page-header">Where are you going?</h1>

    <%= render 'shared/form_error' %>
	<%= render 'trip_form' %> 
