<div class="trip--fav_action" role="group" aria-label="...">
    <ul  class="nav nav-pills nav-justified">
        <li ng-class="{'active':tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Food</a></li>
        <li ng-class="{'active':tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Activities</a></li>
        <li ng-class="{'active':tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Events</a></li>
    </ul>
</div>

<div class="trip--list">           
    <div class="list-group" ng-show="tab.isSet(1)">  
        <% if !@food.empty? %>             
            <% @food.each do |idea| %>
                <%= render partial: 'ideas/section', locals: {idea: idea} %>
            <% end %>
        <% else %>
            <p style="padding:10px 15px">Nothing planned. Add your idea</p>
        <% end %>
    </div>

    <div class="list-group" ng-show="tab.isSet(2)">
        <% if !@activity.empty? %>
            <% @activity.each do |idea| %>
                <%= render partial: 'ideas/section', locals: {idea: idea} %>
            <% end %>
        <% else %>
            <p style="padding:10px 15px">Nothing planned. Add your idea</p>
        <% end %>
    </div>
             
    <div class="list-group" ng-show="tab.isSet(3)">
        <% if !@event.empty? %>
             <% @event.each do |idea| %>
                 <%= render partial: 'ideas/section', locals: {idea: idea} %>
            <% end %>
        <% else %>
            <p style="padding:10px 15px">Nothing planned. Add your idea</p>
       <% end %>
    </div>

    <button class="idea--form_action btn btn-green">Add + </button>
</div>