Click the link below to reset your password:

<p><%= confirm_reset_path(@user.password_reset_token) %></p>

<p>If you did not request a password reset pleae ignore this email. </p>

<p>Cheers,<br>
The Go-Eggplant Team
</p>