<aside>
	<ul class="list-group"o>
		<li class="list-group-item"><%= link_to "Trips", dashboard_path %></li>
		<li class="list-group-item"><%= link_to "Past Trips", past_trips_path %></li>
        <li class="list-group-item"><%= link_to "Account info", account_path %></li>
        <li class="list-group-item"><%= link_to "Trip invites", invites_path %></li>
	</ul>
</aside>