<h1>Trip Invitiation</h1>

<p>Hello!
<br>You've been invited to a trip by your friend <%= @sender %>! To accept the invite, please <%= link_to 'sign up', signup_path %> for an account!
</p>

<p>Thanks! :)<br>
The Go-Eggplant Team
</p>
