<%= form_for(:relationship, url: getPath('group_trips', @action)) do |f| %>                     
                                  
    <%= label_tag(:email, "Friend email")%><br>
    <%= f.text_field :email %>

    <p><%= f.submit "Send", class: 'btn' %></p>

<% end %>
