// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.idea--form { 
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	padding: 1rem;
	margin: 10rem auto;
	width: 50%;
	background-color: rgb(199, 198, 198);
	border: 1px solid white;
	border-radius: 5px;

}