/*********

GLOBAL

***********/

html { font-size: 16px;}
h1 { font-size: 2rem;}

.cf { content: ""; display: table;}
.content { width: 100%; padding: 32px;}

/*********

LANDING PAGE

***********/

.front { text-align: center;}

/*********

DASHBOARD

***********/

.trip--calendar { 
	float: left;
	width: 75%; 
	height: 400px; 
	outline: 1px solid blue; 
	padding: 0 1rem;
}
.trip--saved_list { 
	float: left;
	width: 25%; 
	height: 400px; 
	position: relative;
	outline: 1px solid orange; 

	button { 
		width: 100%; 
		position: absolute; 
		bottom: 0; 
		left: 0;
		background-color: #fff;
		outline: 1px solid green;
	}

	li { padding: 8px 0px;}
}
