/*********

GLOBAL

***********/

html { font-size: 16px;}
body {}

h1, h1, h3, h4 { margin: 0;}

h1.page-header { font-size: 2rem;}

.content { width: 100%; background-color: #ececec;}

.closed { display: none;}

img { width: 100%;}

.navbar { 
	margin: 0;
	background-color: #fff;
}

a { color: #469047;}

.input-group {
	margin: 0.5rem 0;
}

.btn { 
	background-color: white;
	border: 1px solid rgb(221, 221, 221);
}

 
/*********

ERROR MESSAGE

***********/
.error { 
	background-color: orange;
	padding: 8px;
}
