/*********

GLOBAL

***********/
html { font-size: 16px;}
body {}

h1, h2, h3, h4 { margin: 0;}

h1.page-header { font-size: 2rem;}

.content { width: 100%; background-color: #ececec;}

.closed { display: none;}

img { width: 100%;}

.navbar { 
	margin: 0;
	background-color: #fff;
}

a { color: #469047;}

.input-group {
	margin: 0.5rem 0;
}

.btn { 
	background-color: #fff;
	border: 1px solid rgb(221, 221, 221);
}

.btn-green { 
	border: none; 
	background-color: #469047;
	color: #fff;
}

.form_close { 
	cursor: pointer;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
/*********

ERROR MESSAGE

***********/
.error { 
	background-color: orange;
	padding: 8px;
}
