// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create--trip {  
		width: 600px;
    left: 50%;
    position: relative;
    margin-left: -300px;}

/*********

DASHBOARD

***********/
header { 
	height:	200px;
	text-align: center;
	border-bottom: 1px solid #e7e7e7;

	h1 { padding-top: 20px;}
}

.dashboard { width: 90%; margin: 0 auto;}

.trip--fav {
	float: left; 
    width: 45%; 
	height: 600px; 
	padding: 1rem;

	.btn-group { width: 100%;}
	.btn-group button { width: 33.33%;}
}

.trip--fav_action li.active:before {
	background-color: #FFFFFF;
    content: "";
    height: 7px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;}

.trip--list { 
	background-color: #fff;
	.badge a { font-weight: normal;}
	.idea--form_action { width: 100%;}

    .list-group { margin: 0px;}
    .list-group-item { border-left: none; border-right: none;}
    .list-group-item:first-child { border-top: none;}
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { color: #469047;background-color: #fff}
.nav-pills>li.active>a {
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;}
/*********

CALENDAR

***********/
.trip--calendar { 
	float: left;
	width: 55%; 
	height: 600px; 
}

.trip-date {
   //background: #92c500;
   color: #92c500;
   font-size: 14px;
   font-weight: 600;
}

#calendar-dates { 
	table { 
		width: 100%;
	}

	td { 
		width: 14%;
		border: 1px solid grey;}

	.calendar--week td { height: 100px;}
	.calendar--date { padding: 12px;}
}

.calendar--day { text-align: center; padding: 2px 0;}

.todays--events { height: 200px; outline: 1px solid black;}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

.slick-center { font-size: 1rem; font-weight: 600;}

.calendar--short { 
	  margin: auto;
    padding: 20px 30px;
    width: 80%;
    background-color: #fff;
    margin-top: 1rem;

  .date { display: block;}
 }

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: red;
    border: none;
    outline: none;
    background: red;}
.slick-prev { left: -25px;}
.slick-next { right: -25px;}

    