// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile { 
	width: 75%; 
	margin: 0 auto;
	min-width: 796px;
	
	aside { width: 200px; float: left;}
	.content { 
		height: 600px;
		float: left; 
		border-radius: 5px;
		width: 596px;

		.list-group-item { position: relative; padding: 0;}
	}

	.trip-status { position: absolute; background-color: orange; top: 0; right: 0; padding: 4px;}

	figure { width: 200px; float: left; margin-right: 15px;}

}
